/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body 
{
    margin: 25px;
    background-image: url('https://i.pinimg.com/originals/e2/f6/ca/e2f6ca8b9d70379e167cc599b5deb524.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial, sans-serif;
    font-size: 14px;
    /* background-image: url('https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg'); */
}

/* Body for register.html */
.registerbody
{
    font-family: Tahoma;
    font-size: 14px;
    /* color: #f5d76e; */

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* .contactsbody
{
    
} */

/* Applies to all <h1>...</h1> elements. */
h1 
{
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    color: crimson;
}

input
{
    padding-left: 5px;
}

/* Applies to all elements with <... class="box"> specified. */
.box
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding-top: 2px;
    padding-bottom: 10px;
    background-color: #92929250;
}

/* Applies to all elements with <... class="scripttest"> specified. */
.scripttest 
{ 
    color: #ffffff;
    text-shadow: 0.5px 0.5px rgb(0, 183, 255);
    text-align: center;
}

/* Applies to all elements with <... class="loginform"> specified. */
.loginform 
{
    color: rgb(195, 0, 255);
    text-align: center;
}

.wrapper
{
    border-radius: 20px;
    width: 30%;
    background: #dadaff99;
    /* background: #b3b3da99; */
    margin: auto;
    padding-bottom: 20px;
    /* text-align: center; */
    /* align-content: center; */
}

.wrapper h2
{
    padding-top: 10px;
    font-size: 36px;
    text-align: center;
    color: rgb(150, 112, 48);
    text-shadow: 1px 1px 2px rgb(0, 183, 255);
    /* color: #e7c54a; */
}

/* .contactswrapper
{
    background: #dadaff99;
} */

#logoutlink
{
    color: rgb(150, 112, 48);
}

.inputcombo
{
    width: auto;
    text-align: center;
    /* margin: 0 auto; */
    /* background: salmon; */
}

.submitbox
{
    border-radius: 20px;
    border: 2px solid black;
    width: 100px;
    height: 30px;
    margin-bottom: 2.5%;
    background: #01ced1;
    font-family: Tahoma;
    cursor: pointer;
}

.submitwrap
{
    text-align: center;
}

.inputbox
{
    border-radius: 20px;
    border: 2px solid black;
    width: 60%;
    height: 30px;
    margin-bottom: 2.5%;
    font-family: Tahoma;
    /* background: white; */
    /* text-align: center; */
    /* align-content: center; */
}

.linkwrap
{
    text-align: center;
}

.links
{
    font-size: 20px;
    color: rgb(150, 112, 48);
    font-weight: 700;
}

.links2
{
    color: crimson;
    font-weight: 700;
}

.nocookie
{
    font-family: Tahoma;
    /* font-size: 14px; */
    color: rgb(150, 112, 48);

    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
}

.title
{
    font-family: Tahoma;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    color: rgba(255, 193, 87, 0.5); 
    -webkit-text-stroke: 1px rgb(92, 183, 211);
}

.homebtn
{
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homebtn span 
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.homebtn span:after 
{
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -10px;
    transition: 0.5s;
}
  
.homebtn:hover span 
{
    padding-left: 25px;
}
  
.homebtn:hover span:after 
{
    opacity: 1;
    left: 0;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    align-content: center;
    text-align: center;
}

.icon
{
    transition: 0.4s;
}

.icon:hover
{
    background-color: rgb(180, 180, 180);
}

.contactstopbar
{
    display: inline-block;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border-radius: 20px;
    background: #dadaff99;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.searchstuff
{
    width: 40%;
    display: inline-block;
}

.loogout
{
    width: 30%;
    display: inline-block;
}

.searchbox
{
    border-radius: 20px;
    border: 2px solid black;
    width: 80%;
    height: 30px;
    margin-bottom: 2.5%;
    font-family: Tahoma;
}

.popup
{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    align-content: center;
}

.pop_content
{
    width: 40%;
    height: 40%;
    text-align: center;
    padding: 20px;
    background-color: rgb(92, 183, 211);
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#notaddedit
{
    height: 12%;
}

.exit
{
    position: fixed;
    top: 29%;
    right: 29%;
    padding: 4px 6px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    transition: 0.4s;
}

.exit:hover
{
    background-color: rgb(61, 124, 143);
}

.contactbutton
{
    margin: 8px;
    color: rgb(45, 99, 133);
    background: rgb(210, 210, 255);
    padding: 6px 10px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.contactbutton:hover 
{
    background-color: rgb(45, 99, 133);
    color: rgb(210, 210, 255);
}

table 
{
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}
  
td, th 
{
    border: 1px solid rgb(75, 147, 152);
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}

#contacts-table-header
{
    background-color: rgb(45, 99, 133);
    color: rgb(26, 26, 26);
}

tr:nth-child(odd) 
{
    background-color: rgb(150, 112, 48, 0.5);
}
  
tr:nth-child(even) 
{
    background-color: rgb(0, 183, 255, 0.5);
}