/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-image: url('https://t4.ftcdn.net/jpg/02/43/75/73/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg');
    /* background-color: rgb(140, 140, 140); */
    font-family: arial, sans-serif;
    font-size: 14px;
}

/* Applies to all <h1>...</h1> elements. */
h1 
{
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}

/* Applies to all elements with <... class="loginform"> specified. */
.box
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding-top: 2px;
    padding-bottom: 10px;
    background-color: #92929250;
}

/* Applies to all elements with <... class="scripttest"> specified. */
.scripttest 
{ 
    color: rgb(195, 0, 255);
    text-align: center;
}

/* Applies to all elements with <... class="loginform"> specified. */
.loginform 
{
    color: rgb(195, 0, 255);
    text-align: center;
}

a[href*='html'] {
    color: #3300ff;
}
  
a[href*='html']:hover {
    background: #3300ff;
    color: #00eeff;
}

.active a[href*='html']{
    color: #99ff00;
}
  
.active a:hover {
    background: #99ff00;
    color: #27531c;
}

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }